html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    
    box-sizing: border-box;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

:root {
    --text-base: #afb6c2;
    --text-title: #d4ccb6;
    --background: #191816;
    --form-background: #24221f;
    --primary-color: #ffc632;
}

.logo {
    
    position: absolute;
    width: 115px;
    height: 28px;
    top: 20px;
    left: 20px;
    margin: 0;
}

.main {
    background-color: var(--background);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: var(--text-title);
    width: 100vw;
    height: 100vh;
}


.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    max-height: 100vh;
}

.form {
    background-color: var(--form-background);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 4px;
    /* margin: 194 0 194 0; */
    width: 512px;
    height: 512px;
}

.login-text-and-icon {
    display: flex;
    padding: 10px 10px 10px 0px;
}

.login-text-and-icon img {
    margin-right: 10px;

}

.login-text-and-icon h1 {
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    padding-top: 2px;
}

.form-content p {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    font-style: normal;
    color: var(--text-base);
    margin-bottom: 24px;
}

.form-content #create-account {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
}
.image-aside {
    
    height: 100%;
    width: 100vw;
    background-image: url(../assets/side-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

#login-form {
    display: flex;
    flex-direction: column;
}

#login-form input {
    border: 1px solid #868686;
    border-radius: 4px;
    background-color: var(--form-background);
    height: 44px;
    outline: none;
    margin-bottom: 20px;
    padding-left: 37px;
}

#login-form label {
   font-family: 'Poppins', sans-serif;
   font-weight: 500;
   color: var(--text-base);
   font-size: 16px; 
   line-height: 24px;
   margin-bottom: 5px;
}

#login-form input:focus {
    border: 1px solid var(--primary-color);
    box-shadow: 0px 0px 0px 2px #FFDE88;
}

.mail-input {
    background: url(../assets/mail.svg) no-repeat 12px 12px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    font-style: normal;
    line-height: 16px;
    color: rgb(207, 207, 207);
}

.pass-input {
    background-image: url(../assets/lock.svg), url(../assets/eye.svg);
    background-repeat: no-repeat;
    background-position: left 12px center, right 12px center;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    font-style: normal;
    line-height: 16px;
    color: rgb(207, 207, 207);
}

.check-information {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.check label {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: var(--text-base);
    font-size: 0.9rem;
    line-height: 19px;
    margin-bottom: 15px;
}

.check-container {
    display: block;
    position: relative;
    padding-left: 24px;
    cursor: pointer;
    font-size: 22px;
}

.check-container input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: var(--form-background);
    border: 1px solid #868686;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 2px;
}

.check-container:hover input ~ .checkmark {
    background-color: rgb(48, 48, 48);
  }

.check-container input:checked ~ .checkmark {
    background-color: #f7b819;
    border: none;
}

.check-container .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 4.5px;
    top: 1px;
    width: 3px;
    height: 7px;
    border: 2px solid #473404;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

.check-container input:checked ~ .checkmark:after {
    display: block;
  }

#forgot-pass {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 600;
    color: var(--primary-color);
    line-height: 21px;
}

#enter-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #473404;
    border-radius: 4px;
    width: 334px;
    height: 51px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    background-color: var(--primary-color);
    border: none;
    cursor: pointer;
    transition: all .35s;
}

#enter-button:hover {
    background-color: #f7b819;

}

#create-account {
    text-decoration: none;
}
#create-account p{
    
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    color: var(--primary-color);
    line-height: 21px;
    text-decoration: none;
}

#create-account span {
    font-weight: bold;
}


@media (max-width: 900px) {
   .image-aside {
       display: none;
   }

}

@media (max-width: 400px) {
    .form {
        background:none;
    }
    .form-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-top: 40px;
    }
}