html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    
    box-sizing: border-box;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

:root {
    --text-base: #afb6c2;
    --text-title: #d4ccb6;
    --background: #191816;
    --form-background: #24221f;
    --primary-color: #ffc632;
}

.logo {
    
    position: absolute;
    width: 115px;
    height: 28px;
    top: 40px;
    left: 20px;
    margin: 0;
}

.main {
    background-color: var(--background);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: var(--text-title);
    width: 100vw;
    height: 100vh;
}


.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    max-height: 100vh;
}

.form {
    background-color: var(--form-background);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 4px;
    /* margin: 194 0 194 0; */
    width: 512px;
    height: 420px;
}
.form-content {
    /* display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column; */
    margin: 0;
}

.form-content p {
    font-weight: 500;
    font-size: 14px;

}
.login-text-and-icon {
    display: flex;
    padding: 10px 10px 10px 0px;
}

.login-text-and-icon img {
    margin-right: 10px;

}

.login-text-and-icon h1 {
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    padding-top: 2px;
}

.form-content p {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
    font-style: normal;
    color: var(--text-base);
}
.image-aside {
    
    height: 100%;
    width: 100vw;
    background-image: url(../assets/side-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

#login-form {
    display: flex;
    flex-direction: column;
}

#login-form input {
    border: 1px solid #868686;
    border-radius: 4px;
    background-color: var(--form-background);
    height: 44px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 16px;
    color: var(--text-base);
    outline: none;
}

#login-form label {
   font-family: 'Poppins', sans-serif;
   font-weight: 500;
   color: var(--text-base);
   font-size: 1rem; 
   line-height: 24px;
}

#login-form input:focus {
    border: 1px solid var(--primary-color);
    box-shadow: 0px 0px 0px 2px #FFDE88;
}

.check-information {
    display: flex;
    justify-content: space-between;
}

#check label {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: var(--text-base);
    font-size: 0.9rem;
    line-height: 19px;
}

.remember-check + label {
    cursor: pointer;
}
